body{
    text-align: center;
}

img {
    height: 40px;
    position: absolute;
    margin-left: 190px;
    right: auto;
    top: 70px;
}

.lives-container {
    margin-left: -350px;
    
}

.timer-container {
    background-color: #F6B26B;
    color: black;
    border: solid #d98730;
    width: 50px;
    height: 20px;
    margin-bottom: 50px;
    margin: auto;
    
}

table {
    margin: auto;
    text-align: center;
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(227, 136, 17); 
    background-color: #d98730;

}

.hide {
    background-color: #F6B26B;   
    color: transparent;
}

button {
    margin-top: 20px;
    margin-left: 10px;
    height: 25px;
    border-radius: 5px;
}
footer {
    margin-top: 40px;
}
